@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #1e1e1e;
  --primary: #5050ff;
  --primary-foreground: #f3f3f3;
  --secondary: #272727;
  --secondary-foreground: #ffffff;
  --card: #191919;
  --card-active: #272727;
  --action: #666666;
  --action-active: #d9d9d9;
}

body {
  color: var(--foreground);
  background: var(--background);
}
